@mixin rounded($radius)
  -moz-border-radius: $radius
  border-radius: $radius

$brown: #6C5E5E
$lightbrown: #483636

body
  background-color: $brown
  margin: 0

.containing, .content
  width: 900px
  margin: auto

.header
  padding: 6px 0
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.3, rgb(63,43,42)), color-stop(1, rgb(86,70,70)) )
  background-image: -moz-linear-gradient( center bottom, rgb(63,43,42) 30%, rgb(86,70,70) 100% )

.footer
  height: 60px
  background-color: $lightbrown

.content
  padding: 12px
  height: 576px
  width: 900px
  background: url("/images/front1.jpg") center no-repeat

.signup
  border: 1px solid $brown
  width: 300px
  margin: 12px 30px
  padding: 12px
  background-color: rgba(255,255,255,0.6)
  +rounded(12px)
